{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container mt-2" style="width: 60%">
    <div class="row">

        <form action="" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input type="text" name="deadline" class="form-control mb-2"
                           placeholder="Deadline date (2022-03-04)">
                </div>
                <div class="col-auto">
                    <input type="text" name="task_text" class="form-control mb-2" placeholder="Task text">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Add task</button>
                </div>
            </div>
        </form>

        <p class="m-2">Total tasks: {{ data.tasks|length }}</p>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Deadline</th>
                <th scope="col">Text</th>
                <th scope="col">Complete</th>
            </tr>
            </thead>
            <tbody>

            {% for t in data.missed_tasks %}
            <tr class="table-danger">
                <th scope="row">{{ t['id'] }}</th>
                <td>{{ t['deadline'] }}</td>
                <td>{{ t['task'] }}</td>
                <td>
                    <div class="btn-group">
                        <a href="/complete/{{ t['id'] }}" class="btn btn-primary mb-2">Complete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

            {% for t in data.actual_tasks %}
            <tr>
                <th scope="row">{{ t['id'] }}</th>
                <td>{{ t['deadline'] }}</td>
                <td>{{ t['task'] }}</td>
                <td>
                    <div class="btn-group">
                        <a href="/complete/{{ t['id'] }}" class="btn btn-primary mb-2">Complete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>

{% endblock %}